
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 700 */
.oswald-heading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-size: 48px; 
}

/* Styling for the network graph container */
#network {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h3 {
    text-align: center;
  }



  /* color switch button */ 
.color-switch {
    display: inline-flex;
    align-items: center;
    font-size: 18px; /* 增加整体字体大小 */
    font-family: "Oswald", sans-serif
}

.color-switch .switch {
  display: none;
}

.color-switch .switch + label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-switch .switch + label::before,
  .color-switch .switch + label::after {
  content: '';
  display: block;
}

.color-switch .switch + label::before {
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.color-switch .switch + label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.color-switch .switch + label .switch-x-text {
  display: block;
  margin-right: .3em;
}

.color-switch .switch + label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  position: relative;
  width: 25px;
}

.color-switch .switch + label .switch-x-unchecked,
  .color-switch .switch + label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.color-switch .switch + label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.color-switch .switch + label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.color-switch .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.color-switch .switch:checked + label::before {
  background-color: #ffb500;
}

.color-switch .switch:checked + label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.color-switch .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.color-switch .switch:checked + label .switch-x-checked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}


.custom-tooltip {
  font-family: Arial, sans-serif;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.custom-tooltip p {
  margin: 5px 0;
}

.custom-tooltip strong {
  font-weight: bold;
}